$color-font:#333333;

$color-primary-light:#f3e7e9;
$color-secondary-light:#e3eeff;

body{
    margin: 0;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 16px;
    color: $color-font;
}

header{
    height: 100vh;
    background-image: linear-gradient(to top, $color-secondary-light 0, );
}