$color-font:#333333;

$color-primary:
$color-secondary:

body{
    margin: 0;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 16px;
    color: $color-font;
}

header{
    height: 100vh;
    background-image: ;
}